FLASK_APP=app:create_app
FLASK_ENV=development
SECRET_KEY=your-dev-secret-key-here

# Replace with your local PostgreSQL installation credentials
DATABASE_URL=postgresql+psycopg2://<username>:<password>@localhost:5432/<dbname>
