<!-- app/templates/partials/sidebar.html -->
<aside class="sidebar">
    <ul>
        {% if session.get('role') == 'chips_admin' %}
            <!-- CHiPS Admin Navigation Links -->
            <li class="{% if request.path == '/chips/dashboard' %}active{% endif %}">
                <a href="/chips/dashboard">Dashboard</a>
            </li>
            
            <li class="menu-item">
                <details open>
                    <summary>Operator registration</summary>
                    <ul class="submenu">
                        <li class="submenu-item {% if request.path == '/chips/lms' %}active{% endif %}">
                            <a href="/chips/lms"> LMS Credential</a>
                        </li>
                        <li class="submenu-item {% if request.path == '/chips/noc' %}active{% endif %}">
                            <a href="/chips/noc"> NOC</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#"> Operator Activation</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#"> Operator Reactivation</a>
                        </li>
                    </ul>
                </details>
            </li>
            
            <li class="menu-item">
                <details open>
                    <summary>Kit Registration</summary>
                    <ul class="submenu">
                        <li class="submenu-item">
                            <a href="#"> Station id</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#"> L1 registration</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#"> L2 registration</a>
                        </li>
                    </ul>
                </details>
            </li>
        {% else %}
            <!-- District Coordinator (DC) Navigation Links -->
            <li class="{% if request.path == '/dc/dashboard' %}active{% endif %}">
                <a href="/dc/dashboard">Dashboard</a>
            </li>
            
            <li class="menu-item">
                <details open>
                    <summary>Operator registration</summary>
                    <ul class="submenu">
                        <li class="submenu-item {% if request.path == '/lms' %}active{% endif %}">
                            <a href="/lms"> LMS Credential</a>
                        </li>
                        <li class="submenu-item {% if request.path == '/dc/noc' %}active{% endif %}">
                            <a href="/dc/noc"> NOC</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#"> Operator Activation</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#"> Operator Reactivation</a>
                        </li>
                    </ul>
                </details>
            </li>
            
            <li class="menu-item">
                <details open>
                    <summary>Kit Registration</summary>
                    <ul class="submenu">
                        <li class="submenu-item">
                            <a href="#"> Station id</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#"> L1 registration</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#"> L2 registration</a>
                        </li>
                    </ul>
                </details>
            </li>
        {% endif %}
        
        <li>
            <a href="#">Reports</a>
        </li>
    </ul>
</aside>
